---
import { getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';

import { SectionHeader, ContentCard } from '../../components/blog';

const news = (await getCollection('noticias', ({ data }) => !data.draft)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="Todas as Notícias">
  <SectionHeader title="Todas as Notícias" />

  <section class="content-gallery">
    {news.length === 0 && <p>Nenhuma notícia encontrada.</p>}
    {
      news.map((singleNews, index) => (
        <ContentCard
          item={singleNews}
          categoryLabel="Notícia"
          categoryColor="#e52e71"
          index={index}
        />
      ))
    }
  </section>
</BaseLayout>

<style>
  .content-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>
