---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import { SectionHeader } from "../../components/blog";
import { FactPostItCard } from "../../components/facts";

const facts = (
    await getCollection("fatos-aleatorios", ({ data }) => !data.draft)
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout pageTitle="Fatos Aleatórios">
    <SectionHeader title="Pílulas de Conhecimento" />

    <section class="post-it-gallery">
        {facts.length === 0 && <p>Nenhum fato aleatório encontrado.</p>}
        {facts.map((fact) => <FactPostItCard item={fact} />)}
    </section>
</BaseLayout>

<style>
    .post-it-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 0;
    }
</style>
